<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/TvbaDatabase</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">admin</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <mapping class="application.tvba.org.entity.Usuario" />
    <mapping class="application.tvba.org.entity.Banco" />
    <mapping class="application.tvba.org.entity.DireitoAcesso" />
    <mapping class="application.tvba.org.entity.Indicador" />
    <mapping class="application.tvba.org.entity.SubIndicador" />
  </session-factory>
</hibernate-configuration>
