<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="TvbaPersistence" transaction-type="RESOURCE_LOCAL">
    <provider>org.apache.openjpa.persistence.PersistenceProviderImpl</provider>
    <class>application.tvba.org.entity.Banco</class>
    <class>application.tvba.org.entity.Indicador</class>
    <class>application.tvba.org.entity.DireitoAcesso</class>
    <class>application.tvba.org.entity.SubIndicador</class>
    <class>application.tvba.org.entity.Usuario</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="openjpa.ConnectionUserName" value="postgres"/>
      <property name="openjpa.ConnectionPassword" value="admin"/>
      <property name="openjpa.ConnectionURL" value="jdbc:postgresql://127.0.0.1:5432/TvbaDatabase"/>
      <property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
    </properties>
  </persistence-unit>
</persistence>
